@tab-navigation-description-line-height: 1.2em;

body {
	font-size: @body-font-size;
	font-family: @body-font-stack;
	letter-spacing: @body-letter-spacing;
	word-spacing: @body-word-spacing;
}

#masthead {
	/* SBTWO-4676 SBTWO-4677 Elements in the masthead aren't part of the site design, always display them in Calibri */
	font-family: Calibri, "Bitstream Vera Sans", "Trebuchet MS", Trebuchet, sans-serif;
	font-size: 12px;
}

#main-content {
	line-height: @body-line-height;

	ul, ol {
		font-size: @list-font-size;
		letter-spacing: @list-letter-spacing;
		word-spacing: @list-word-spacing;
		font-weight: @list-font-weight;
		font-family: @list-font-stack;
	}
}

#site-header-container {
	font-family: @site-header-font-stack;
	font-size: @site-header-font-size;
	font-weight: @site-header-font-weight;
	font-style: @site-header-font-style;
	letter-spacing: @site-header-letter-spacing;
	line-height: @site-header-line-height;

	h1#site-header {
		font-family: inherit;
		font-size: inherit;
		letter-spacing: inherit;
		word-spacing: inherit;
		font-weight: inherit;
		line-height: inherit;
	}

	h2#strapline {
		font-family: @strapline-font-stack;
		font-size: @strapline-font-size;
		font-weight: @strapline-font-weight;
		font-style: @strapline-font-style;
		letter-spacing: @strapline-letter-spacing;
		line-height: @strapline-line-height;
		margin: @strapline-margin;
	}
}

#header.header-small #site-header-container h1#site-header {
	font-size: @site-header-font-size-small;
	letter-spacing: @site-header-letter-spacing-small;
}

pre, code, kbd, samp, pre, tt, var {
	font-family: @fixedwidth-font-stack;
	font-size: @fixedwidth-font-size;
	letter-spacing: @fixedwidth-letter-spacing;
}

pre, code {
	line-height: @fixedwidth-line-height;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: @header-font-stack;
	line-height: 1.4em;
}

h1, .h1 {
	font-size: @h1-font-size;
	font-weight: @h1-font-weight;
	font-style: @h1-font-style;
	letter-spacing: @h1-letter-spacing;
}

h2, .h2 {
	font-size: @h2-font-size;
	font-weight: @h2-font-weight;
	font-style: @h2-font-style;
	letter-spacing: @h2-letter-spacing;

	margin: 0 0 0.3em 0;
	padding: 0;
}

h3, .h3 {
	font-size: @h3-font-size;
	font-weight: @h3-font-weight;
	font-style: @h3-font-style;
	letter-spacing: @h3-letter-spacing;

	margin: 0 0 0.2em 0;
	padding: 0;
}

h4, .h4 {
	font-size: @h4-font-size;
	font-weight: @h4-font-weight;
	font-style: @h4-font-style;
	letter-spacing: @h4-letter-spacing;

	margin: 0 0 0.2em 0;
	padding: 0;
}

h5, .h5 {
	font-size: @h5-font-size;
	font-weight: @h5-font-weight;
	font-style: @h5-font-style;
	letter-spacing: @h5-letter-spacing;

	margin: 0 0 -0.1em 0;
	padding: 0;
}

h6, .h6 {
	font-size: @h6-font-size;
	font-weight: @h6-font-weight;
	font-style: @h6-font-style;
	letter-spacing: @h6-letter-spacing;

	margin: 0 0 0em 0;
	padding: 0;
}

blockquote {
	font-family: @bq-font-stack;
	font-size: @bq-font-size;
	font-weight: @bq-font-weight;
	font-style: @bq-font-style;
	letter-spacing: @bq-letter-spacing;
	line-height: @bq-line-height;
}

#navigation {
	font-size: @navigation-font-size;

	&.horizontal .fixed-width {
		ul#primary-navigation .title.rendered-link-content {
			font-size: @tab-navigation-font-size;
		}
	}

	.description {
		font-size: @tab-navigation-description-font-size;
		line-height: @tab-navigation-description-line-height;
	}
}

#common-footer {
	font-size: @footer-font-size;

	ul, ol {
		font-size: @footer-font-size;
	}

	.page-iterator, #page-footer-elements, #footer-utility {
		margin-top: 0.5em;
	}
}

@media screen and (max-width:959px) {
// Explicitly disabled for Tabula
/*
	#site-header-container {
		h1#site-header {
			font-size: @h2-font-size !important;
			letter-spacing: @h2-letter-spacing !important;

			line-height: normal !important;
		}
	}
*/

	h1 {
		font-size: @h2-font-size;
		font-weight: @h2-font-weight;
		font-style: @h2-font-style;
		letter-spacing: @h2-letter-spacing;
	}

	h2 {
		font-size: @h3-font-size;
		font-weight: @h3-font-weight;
		font-style: @h3-font-style;
		letter-spacing: @h3-letter-spacing;

		margin: 0 0 0.2em 0;
		padding: 0;
	}

	h3 {
		font-size: @h4-font-size;
		font-weight: @h4-font-weight;
		font-style: @h4-font-style;
		letter-spacing: @h4-letter-spacing;

		margin: 0 0 0.2em 0;
		padding: 0;
	}

	h4 {
		font-size: @h5-font-size;
		font-weight: @h5-font-weight;
		font-style: @h5-font-style;
		letter-spacing: @h5-letter-spacing;

		margin: 0 0 -0.1em 0;
		padding: 0;
	}

	h5 {
		font-size: @h6-font-size;
		font-weight: @h6-font-weight;
		font-style: @h6-font-style;
		letter-spacing: @h6-letter-spacing;

		margin: 0 0 0em 0;
		padding: 0;
	}

	h6 {
		font-size: @body-font-size;
		font-weight: @h6-font-weight;
		font-style: @h6-font-style;
		letter-spacing: @body-letter-spacing;
	}

	#masthead {
		font-size: @body-font-size;
	}

	#common-footer {
		font-size: @body-font-size;

		ul, ol {
			font-size: @body-font-size;
		}
	}
}

@media screen and (max-width:719px) {
	// Explicitly disabled for Tabula
	#site-header-container {
		h1#site-header {
			font-size: @h2-font-size !important;
			letter-spacing: @h2-letter-spacing !important;

			line-height: normal !important;
			margin-bottom: -5px !important;
		}
	}
}