# Build artifacts
/bin
/dist
/target
/.gradle
/build
/out
/*/target
/*/bin
/*/overlays
/*/build
/*/out
/*/.gradle
junit*.properties
/project/target
/project/project

# Local settings
local.properties
/config/scripts/dev/tabula.properties
/config/scripts/dev/tabula-private.properties
/config/scripts/dev/courses.properties
/config/scripts/dev/courses-private.properties
console.properties
tabula-private.properties
!/*/src/test/resources/tabula-private.properties
atlassian-ide-plugin.xml
gulpopts.json
gradle-local.properties

# Error dumps, logs
hs_err*
ajcore*
.attach_pid*

# Temporary files
.cache
*~
.ensime*
*.orig
.*.swp
.ctags
.unison*
/activemq-data
/out
${*
/mocha.json

# Eclipse IDE
/.classpath
.externalToolBuilders

# IntelliJ IDE
!/.idea/modules.iml
!/.idea/modules/*.iml
!/.idea/codeStyleSettings.xml
!/.idea/fileTemplates/*
!/.idea/gradle.xml
!/.idea/compiler.xml
!/.idea/encodings.xml
/.idea/*
*.iml
*.iws

# Sublime Text IDE
*.sublime-project
*.sublime-workspace

# What
CVS

pom.xml.versionsBackup
.DS_Store