# Build artifacts
/bin
/dist
/target
/modules/*/target
/modules/*/bin
/modules/*/overlays
junit*.properties
/project/target
/project/project

# Local settings
local.properties
/config/scripts/dev/tabula.properties
/config/scripts/dev/tabula-private.properties
/config/scripts/dev/courses.properties
/config/scripts/dev/courses-private.properties
console.properties
tabula-private.properties
!/modules/*/src/test/resources/tabula-private.properties
atlassian-ide-plugin.xml

# Error dumps, logs
hs_err*
ajcore*
.attach_pid*

# Temporary files
.cache
*~
.ensime*
*.orig
.*.swp
.ctags
.unison*
/activemq-data
/out
${*

# Eclipse IDE
/.classpath
.externalToolBuilders

# IntelliJ IDE
!/.idea/modules.iml
!/.idea/modules/*.iml
!/.idea/codeStyleSettings.xml
!/.idea/fileTemplates/*
/.idea/*
*.iml
*.iws

# Sublime Text IDE
*.sublime-project
*.sublime-workspace

# What
CVS

pom.xml.versionsBackup
.DS_Store