# Build artifacts
/bin
/dist
/target
/modules/*/target
/modules/*/bin
/modules/*/overlays
junit*.properties
/project/target
/project/project

# Local settings
local.properties
/config/scripts/dev/tabula.properties
/config/scripts/dev/tabula-private.properties
/config/scripts/dev/courses.properties
/config/scripts/dev/courses-private.properties
console.properties
tabula-private.properties
!/modules/*/src/test/resources/tabula-private.properties

# Error dumps, logs
/hs_err*
ajcore*
.attach_pid*

# Temporary files
.cache
*~
.ensime*
*.orig
.*.swp
.ctags

# Eclipse IDE
/.classpath
.externalToolBuilders

# IntelliJ IDE
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/artifacts
/.idea/libraries
.iws

# Sublime Text IDE
*.sublime-project
*.sublime-workspace

# What
CVS

