<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport         -->
<!--                                                                -->
<configuration>
	<appender name="S" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %c{1} [%p] %m%n</pattern>
		</encoder>
	</appender>
	<logger name="com.gargoylesoftware.htmlunit.javascript.host.html.HTMLElement" level="ERROR"/>
	<logger name="com.gargoylesoftware.htmlunit.javascript.host.css.CSSStyleSheet" level="ERROR"/>
	<logger name="org.springframework.jdbc.core" level="DEBUG"/>
	<logger name="com.gargoylesoftware.htmlunit.IncorrectnessListenerImpl" level="OFF"/>
	<logger name="com.gargoylesoftware.htmlunit.javascript.host.ActiveXObject" level="OFF"/>
	<logger name="com.gargoylesoftware.htmlunit.html.HtmlScript" level="OFF"/>
	<logger name="org.hibernate" level="WARN"/>
	<logger name="com.gargoylesoftware.htmlunit.javascript.StrictErrorReporter" level="OFF"/>
	<logger name="com.gargoylesoftware.htmlunit.javascript.host.html.HTMLDocument" level="OFF"/>
	<logger name="uk.ac.warwick.tabula" level="INFO"/>
	<logger name="com.gargoylesoftware.htmlunit.DefaultCssErrorHandler" level="OFF"/>
	<root level="WARN">
		<appender-ref ref="S"/>
	</root>
</configuration>