@import "../css3.less";
@import "variables.less";

#main-content .allocate-associations {
	table.scrollable-tbody {
		table-layout: fixed;

		thead {
			display: block;
		}

		tbody {
			display: block;
			overflow: auto;
			width: 100%;
			max-height: 450px;
		}

		.check {
			width: 5px;
			padding-right: 5px;
		}

		.single-name {
			width: 145px;
			&.sortable {
				width: 130px;
			}
		}

		.universityid {
			width: 80px;
			&.sortable {
				width: 78px;
			}
		}

		.full-name {
			width: 260px;
			&.sortable {
				width: 245px;
			}
		}

		.counter {
			width: 85px;
			&.sortable {
				width: 70px;
			}
		}

		.edit {
			width: 36px;
			padding-right: 5px;
		}

		.icon-edit {
			.cursor-pointer()
		}

		button.btn-link {
			padding: 0;
			color: @tabulaRedDark;
			.cursor-pointer();
			.icon-remove {
				margin-left: -4px;
			}
			&:hover {
				text-decoration: none;
			}
		}

		[colspan="3"] {
			padding-left: 29px;
		}

		tr.expanded {
			background-color: @tableBackgroundHover;
			td {
				border-bottom: 1px solid @tableBorder;
				&.check {
					border-left: 1px solid @tableRowBorderBottom;
				}
				&.toggle {
					border-right: 1px solid @tableRowBorderBottom;
				}
			}
		}
		tr.forentity {
			td {
				border-bottom: 1px solid @tableBorder;
				&.student {
					border-left: 1px solid @tableRowBorderBottom;
				}
				&.remove {
					border-right: 1px solid @tableRowBorderBottom;
				}
			}
			&.last td {
				border-bottom: 1px solid @tableRowBorderBottom;
			}
		}
	}

	.student-filter .wide .filter-short-values {
		width: 130px;
	}
	.student-filter .narrow .filter-short-values {
		width: 50px;
	}
}

details .relationship-change-summary {
	line-height: 2em;
}