@import "css3.less";
@import "embeddable.less";

#container {
  .box-shadow(0,0,48px, rgba(0,0,0,0.4));
}

#page-header {
	.vertical-gradient(#696, #363);
}

#custom-header {
    text-align:right;
}

html {
	background: #cce5cc;
	// Always show scrollbars to avoid horizontal jerkothon
	// when moving between pages that are taller and shorter than
	// the window
	overflow-y: scroll;
}

// Badass CSS transitions for the popup library
.WPopupBox {
  -webkit-transform-origin: 0% 50%;
  .csstransitions & {
    display: block;
    pointer-events: none;
    .fade-transition();
    .opacity-one(0.0);
    -webkit-transform: scale(0.5);
  }
  .csstransitions &.visible {
  	.opacity-one(1.0);
	pointer-events: auto;
	-webkit-transform: scale(1);
  }
}

// Change look of some things when they're in a popup box
.WPopupBox {
	.submit-buttons {
	  margin: 0;
	  padding-bottom: 0;
	  border-top: none;
	}
	p {
		margin-bottom: 1em;
	}
	
	.narrowed-form {
		.form-row {
			.label, label { width: 12em; }
		}
		.form-field { margin-left: 12.5em; }
	}
}

h1 {
	margin: 16px;
}

.flush-content #content-wrapper {
	padding: 0px;
	margin: 0px;
}

tr.even-row {
    background-color: #eee;
}

#primary-navigation-wrapper {
  .vertical-gradient(#606060, #404040);
  border-top: 1px solid #404040;
}
#primary-navigation li.rendered-link {
  padding-right: 20px;
  background: transparent url(../images/crumb-divider.png) right center no-repeat;
  
  .rendered-link:hover {
    .box-shadow-none();
  }
  .rendered-link-content {
    a:link, a:visited {
      color: #aaa;
    }
    a:hover {
      color: #fff;
      text-decoration: underline;
    }
  }
}

// Undo the damage done by Bootstrap
#search-container form { margin: 0 !important; }
#search-box { border-radius: 0 !important; }

// styles for text lists

.textBoxListContainer ul {
	display: block;
  	overflow: hidden;
  	margin: 0px !important;
  	padding: 0px !important;
  	border: 1px solid #CCCCCC;
  	border-radius: 3px 3px 3px 3px;
  	width:218px;
  	li {
  		list-style-type: none;
  		float: left;
  		display: block;
  		margin-bottom: 2px !important;
  		padding: 0px;
  		cursor: default;
  		
  		&.item{
			border: 1px solid #CCCCCC;
			border-color: #0055CC #0055CC #003580;
			border-radius: 3px 3px 3px 3px;
			background-color:#0074CC;
			margin: 2px;
			padding: 2px 0px 2px 4px;
			line-height: 14px;	
			  
			span{
				margin-right: 2px;
				color: #FFFFFF;
				text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
			}
				
			a.close{
				opacity: 1.0;
				width: 12px;
				height: 12px;
				background:url(/static/images/text-list-close.png) -48px -96px;
			}
		}
  		
 		&.inputContainer {
			line-height: 14px;
			margin-bottom: 0px !important;
			input {
				border: 0;
				width:100%;
				box-shadow: none;
				&:focus{
					box-shadow: none;
				}
			}
		}
  	}
}

.marksUploadTable {
	@import "bootstrap/bootstrap.less";
	tbody {
	
    	tr:nth-child(odd) td, tr:nth-child(odd) th {
      		background-color: @tableBackgroundAccent;
    	}
    	
    	tr.errorRow td{
			background-color: @errorBackground;
			color: @errorText;
		}
		
    	td , th{
    		border: 1px solid @tableBorder;
    		&:hover{
    			background-color: @tableBackgroundHover;
    		}
    	}
  	}
}

