#header {
	/*background-image: url(../images/header.jpg); */
	background-image: linear-gradient(bottom, rgb(142,202,245) 0%, rgb(54,86,168) 100%);
background-image: -o-linear-gradient(bottom, rgb(142,202,245) 0%, rgb(54,86,168) 100%);
background-image: -moz-linear-gradient(bottom, rgb(142,202,245) 0%, rgb(54,86,168) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(142,202,245) 0%, rgb(54,86,168) 100%);
background-image: -ms-linear-gradient(bottom, rgb(142,202,245) 0%, rgb(54,86,168) 100%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(142,202,245)),
	color-stop(1, rgb(54,86,168))
);
}

/*body { background: #ccc; } */

html {
background-image: linear-gradient(bottom, rgb(223,230,235) 0%, rgb(142,161,209) 100%);
background-image: -o-linear-gradient(bottom, rgb(223,230,235) 0%, rgb(142,161,209) 100%);
background-image: -moz-linear-gradient(bottom, rgb(223,230,235) 0%, rgb(142,161,209) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(223,230,235) 0%, rgb(142,161,209) 100%);
background-image: -ms-linear-gradient(bottom, rgb(223,230,235) 0%, rgb(142,161,209) 100%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(223,230,235)),
	color-stop(1, rgb(142,161,209))
);
}

.flush-content #content-wrapper {
	padding: 0px;
	margin: 0px;
}

.error { 
	color: crimson;
	display: block; 
	}
	
#navigation { display: none; }

.module-info {
	border-bottom: 1px solid #999;
	padding: 0.5em 0;
	margin: 0.5em 0;
}

.dev {
	color: #ccc;
}

.admin-flash {
	padding: 1em;
	background: #eec;
}