#header {
	/*background-image: url(../images/header.jpg); */
	background-image: linear-gradient(bottom, rgb(142,202,245) 0%, rgb(54,86,168) 100%);
background-image: -o-linear-gradient(bottom, rgb(142,202,245) 0%, rgb(54,86,168) 100%);
background-image: -moz-linear-gradient(bottom, rgb(142,202,245) 0%, rgb(54,86,168) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(142,202,245) 0%, rgb(54,86,168) 100%);
background-image: -ms-linear-gradient(bottom, rgb(142,202,245) 0%, rgb(54,86,168) 100%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(142,202,245)),
	color-stop(1, rgb(54,86,168))
);
}

/*body { background: #ccc; } */

html {
background-image: linear-gradient(bottom, rgb(223,230,235) 0%, rgb(142,161,209) 100%);
background-image: -o-linear-gradient(bottom, rgb(223,230,235) 0%, rgb(142,161,209) 100%);
background-image: -moz-linear-gradient(bottom, rgb(223,230,235) 0%, rgb(142,161,209) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(223,230,235) 0%, rgb(142,161,209) 100%);
background-image: -ms-linear-gradient(bottom, rgb(223,230,235) 0%, rgb(142,161,209) 100%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(223,230,235)),
	color-stop(1, rgb(142,161,209))
);
}

.flush-content #content-wrapper {
	padding: 0px;
	margin: 0px;
}

.error { 
	color: crimson;
	display: block; 
	}
	
#navigation { display: none; }

.module-info {
	border: 1px solid #999;
	padding: 0.5em;
	margin: 0.5em 0;
	background-color: #eee;
}

.assignment-info {
	border: 1px solid #99c;
	padding: 0.5em;
	margin-bottom: 0.5em;
	background-color: #fff;
}

.assignment-info .name {
	width: 18em;
	float:left;
}
.assignment-info .stats {
	font-size: 0.85em;
	width: 17em;
	float:left;
}
.assignment-info .actions {
	float: right;
}
.end-assignment-info { clear: both; }

.dev {
	color: #ccc;
}

.admin-flash {
	padding: 1em;
	background: #eec;
}

.submit-buttons {
	padding: 1em 0;
	margin: 1em 0;
	border-top: 1px solid #EEE;
}

.form-row {
	clear:left;
	margin-bottom: 0.5em;
}

.form-row label {
	width: 16em;
	float: left;
	text-align: right;
}

input.text,
input.date-time-picker {
	border: 1px solid #999;
	border-radius: 4px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.2) inset;
	padding: 2px 0 0 5px;
	width: 10em;
}

/* input.text:focus,
input.date-time-picker:focus {
	box-shadow: 2px 2px 2px rgba(120,120,200,0.2) inset;
}
 */
.form-field {
	margin-left: 16.5em;
}

.actions a {
	text-decoration: none;
	white-space: nowrap;
	background: #6594d1;
	color: white;
	border-radius: 5px;
	padding: 0 4px;
}

.actions a:hover {
	background-color: #2c5893;
}

.submit-buttons input {
	padding: 0.5em;
	font-size: 120%;
}