@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";

@header-colour: @tabulaRedDark;

#header {
	background: @header-colour;
}

.striped-section.routes {
	.collapsible-target {
		margin-left: 2.5em;
	}
}

.ellipsis {
	.text-overflow()
}

.hint {
	color: #818285;
}

#container .routeAndYearPicker {
	.expanded .expand-button {
		visibility: hidden;
	}
	.span2 {
		text-align: right;
	}
	.hint {
		position: relative;
		bottom: -10px;
	}
	table {
		table-layout: fixed;
		width: 700px;
		th,td {
			text-align: center;
		}
		th.ellipsis, td.ellipsis {
			width: 300px;
			max-width: 300px;
			text-align: left;
		}
		&.header, &.header.table-striped.table-bordered.table-condensed.table-hover th {
			margin-bottom: 0px;
			border-bottom-left-radius: 0px;
			border-bottom-right-radius: 0px;
		}
	}
	.scroller {
		width: 720px;
		height: 260px;
		overflow: auto;
		margin-top: -1px;
		table, table.table-striped.table-bordered.table-condensed.table-hover tbody:first-child td {
			border-top-left-radius: 0px;
           	border-top-right-radius: 0px;
		}
	}
}

.recordCheckpointForm .save-row {
	width:100%;
	.pull-right {
		padding-right:2.5em;
	}
}

.record-attendance-form-header {
	background-color: lighten(@tabulaRed, 35%);
	div.span9 {
        padding: 15px 0px;
        span {
			margin-right: 10px
		}
    }
    div.span3 {
        padding-top: 9px;
    }
}

.icon-ok.attended { color: @successText; }
.icon-remove.unauthorised { color: @errorText; }
.icon-remove.authorised { color: @infoText; }
.icon-warning-sign.late { color: @warningText; }

.monitoring-points-profile {
	.pull-right .form-inline { margin-bottom: 0px; }
	h3, .missed-info { display: inline-block; }
	h3 { margin-right: 20px; }
	.missed-info {
		color: @successText;
		vertical-align: middle;
		.missed {
			color: @errorText;
		}
	}
	.row-fluid.point:hover {
		background-color: @tableBackgroundHover
	}
}

.btn-group button { margin-right: 0px; }
