@import "bootstrap/variables.less";

@header-colour: @tabulaOrangeLight;

#header {
	background: @header-colour;
}

#assign-markers{
	.student-list {
		max-height: 330px;
		overflow-y: auto;
		overflow-x: hidden;
	}

	.marker {
		margin-bottom: 1em;
		padding: 1em;
		background-color: @tableBackgroundNonAccent;
		width: 350px;
		.name {
			font-size: 22px;
		}
		&.drop-hover{
			background-color: #DFF0D8;
			border-color: #C9DCB9;
		}
	}

	.student {
		min-width: 200px;
		padding: 3px 5px;
		color: white;
	}
}

.requestedExtension {
	color: @tabulaOrangeDark;
}

// department sort-modules (modules/arrange/form.ftl)

#sortModulesCommand {

	// Builds on top of base styles for ul.drag-list and friends
	ul.drag-list {
		padding-top: 5px;
		padding-bottom: 5px;
		margin-top: 0;
		margin-bottom: 1em;
		min-height: 2em;
		background-color: @tableBackgroundAccent;
		overflow: auto; // expand to contain floated items
		margin-left: -16px;
		margin-right: -16px;
	}

}

// end department sort-modules