@import "bootstrap/variables.less";
@import "css3.less";

@header-colour: @tabulaGreenLight;

#header {
	background: @header-colour;
}

.events .deleted, .item-info.deleted, .item-info.deleted .name, .item-info.deleted .events li {
	text-decoration: line-through;
	color: @grayLight;
}

.tabula-page, #container {
	/* Position dividing line ABOVE legends, not below */
	legend {
		border-bottom: 0;
		border-top: 1px solid #e5e5e5;
	}
}

input.deleted {
	cursor: not-allowed;
  background-color: @inputDisabledBackground !important;
  text-decoration: line-through;
}

#container .groupDetail {
	.checkbox {
		float: left;
		margin: 6px 6px 6px 12px;
		padding-top: 0px;
	}
	.controls {
		margin-left: 0px;
	}
	.maxGroupSize .checkbox {
		display: inline;
	}
	label.checkbox, h3{
		float: left;
	}
	.groupSizeDetails {
		float: left;
		padding-left: 12px;
		padding-top: 6px;
	}
	&.maxGroupSize .input-small {
		margin-top: 8px;
	}
}

// arrange students into groups

#allocateStudentsToGroupsCommand {
	
	.filter {
		select { width: 100%; }
		
		margin: 0 0 10px;
	}

	// Give the student list some affordance for dragging around students
	.student-list {
		margin: -16px;
		padding: 16px;
	}
	
	ul.drag-list li {
		display: block;
		float: none;
	
		background: white;
		margin: 0 0 10px;

		&:hover { background-color: darken(@wellBackground, 10%); }

		&.ui-selecting { background: darken(@wellBackground, 10%) !important; }
		&.ui-selected { background: darken(@wellBackground, 15%) !important; }
		
		.profile .photo {
			float: left;
			max-width: 50px;
			padding-right: 10px;
		}
	}
	
	.well.drop-hover {
		background-color: #dddddd;
	}
	
	.group-header {
		> h4, > div { display: inline-block; }
		> h4 { margin-right: 10px; }
	}
	
	.direction-icon {
		font-size: 8em;
		text-align: center;
		padding-top: 33px;
		color: #d6d6d6;
	}

}

// end arrange students into groups

.tabula-page .attendees .item-info {
	.span1 {
		text-align: center;
	}
	&, & label {
		.cursor-pointer();
	}
	&.clickable:hover {
		background-color: @zebra-dark;
		.transition-duration(0.3s);
	}
	.full-height {
		line-height: 50px;
		font-size: 24px;
	}
}

// fix width of week select for recording attendance
#container .weekSelector {
	width: 7em;
}
