@import "bootstrap/variables.less";

@header-colour: @tabulaGreenLight;

#header {
	background: @header-colour;
}

.events .deleted, .group.deleted {
	text-decoration: line-through;
	color: @grayLight;
}