/* Fix alignment of checkboxes and radios */
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
	margin-top: 7px;
}

.popover.account-information .popover-content {
	overflow: visible;
}

.tabula-page .id7-navigation .navbar-secondary .navbar-nav > li:first-child {
	color: white;
}

/* permanent fix in ID-223 */
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
	color: #333;
}
