@import (reference) "bootstrap/less/variables";
@import (reference) "@universityofwarwick/id7/less/variables";

@accent-blue: #e8f4f1;
@accent-yellow: #f9f5eb;

@accent-blue-bg: @accent-blue;
@accent-blue-border: darken(spin(@accent-blue-bg, -10), 5%);
@accent-blue-text: @text-color;

@accent-yellow-bg: @accent-yellow;
@accent-yellow-border: darken(spin(@accent-yellow-bg, -10), 5%);
@accent-yellow-text: @text-color;

@hint-colour: #666666;
@hint-font-size: (@main-font-size - 1px);

.make-coloured-box() {
  padding: @alert-padding;
  margin-bottom: @line-height-computed;
  border: 1px solid transparent;
}

.coloured-box-variant(@background; @border; @text-color) {
  color: @text-color;
  background-color: @background;
  border-color: @border;

  hr {
    border-top-color: darken(@border, 5%);
  }
}

.mitcircs-form {
  &__guidance {
    .make-coloured-box();
    .coloured-box-variant(@accent-blue-bg; @accent-blue-border; @accent-blue-text);
  }

  &__fields {
    &__section {
      margin-bottom: @line-height-computed;

      &--identity {
        color: inherit;
        background: none;
        border: 0;

        .form-horizontal {
          .control-label {
            font-weight: normal;
            color: @gray-light;
          }

          // Tighter spacing between fields
          .control-label, .form-control-static {
            padding: 0;
            min-height: 0;
          }
        }
      }

      &--boxed {
        .make-coloured-box();
        .coloured-box-variant(@accent-yellow-bg; @accent-yellow-border; @accent-yellow-text);

        .checkbox {
          margin-bottom: 0;
          padding: 5px 0 5px 5px;
        }

        .checkbox+.checkbox {
          margin-top: 0;
        }

        .checkbox:nth-of-type(odd) {
          background: darken(@accent-yellow-bg, 5%);
        }

        &:nth-of-type(odd) {
          .coloured-box-variant(@accent-blue-bg; @accent-blue-border; @accent-blue-text);

          .checkbox:nth-of-type(odd), .indent > .checkbox:nth-of-type(even) {
            background: darken(@accent-blue-bg, 5%);
          }
        }

        &.form-horizontal {
          .radio {
            padding-top: 0;

            input[type="radio"].radio-with-field {
              margin-top: 12px;
            }
          }
        }
      }

      legend {
        // Stop the legend from flowing through the top "border" of the fieldset
        float: left;

        // Reset Bootstrap's styling of <legend>
        font-size: @main-font-size;
        font-weight: normal;
        color: @text-color;
        border: 0;
        margin-bottom: 0;
      }

      .checkbox .help-popover {
        float: right;
        margin-right: 5px;
        i {
          font-weight: lighter;
          cursor: pointer;
        }
      }

      &__hint {
        color: @hint-colour;
        font-size: @hint-font-size;
      }

      &__assessments-table {
        &.tab-content {
          background: @nav-tabs-active-bg;

          > .active {
            display: table-row-group;
          }
        }
      }
    }

    &__checkbox-with-other {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .other-input {
        margin: 0 10px 0 5px;
      }
    }

    &__contact-subfield {
      margin-left: 20px;
    }

    &__checkbox-subgroup {
      .indent {
        margin-left: 15px;

        .checkbox {
          margin-top: 5px;

          & + .checkbox {
            margin-top: -5px;
          }

        }
      }
    }

    &__morepending-subfield {
      padding-top: 10px;
    }

    .evidence-upload {
      dl {
        padding-top: 15px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        width: 100%;
      }
      dt {
        flex: 0 0 15%;
        overflow: hidden; /* Prevents long words in labels from causing layout to break */
      }
      dd {
        padding: 2px 0 20px 0;
        margin-left: 0;
        flex: 85% 0 0;
        padding-left: 20px;
        max-width: 85%;
      }
      dd + dd {
        margin-left: 15%;
      }
    }
  }
}

.details {
  &--section {
    div.control-label, summary.control-label, .content {
      position: relative;
      min-height: 1px;
      padding-right: @grid-gutter-width / 2;
      float: left;

      &.control-label {

        @media (min-width: @screen-xs-min) {
          width: percentage(2/12);
        }
        @media (min-width: @screen-md-min) {
          // need to keep the labels in line with the labels in the left column of .case-details--actions
          // the left column is col-7 with a nested row containing col-3 for the label
          // this means the label is 7/12 * 3/12 of a page wide = 21/144 = 7/48
          width: percentage(7/48);
        }
        padding-left: @grid-gutter-width;
      }

      &.content {
        @media (min-width: @screen-xs) {
          width: percentage(10/12);
        }
        @media (min-width: @screen-md) {
          width: percentage(41/48);
        }
        padding-left: @grid-gutter-width / 2;
      }
    }
  }
}