@import (reference) "bootstrap/less/variables.less";
@import (reference) "bootstrap/less/mixins/gradients.less";
@import (reference)  "bootstrap/less/mixins/clearfix.less";
@import (reference) "bootstrap/less/mixins/vendor-prefixes.less";
@import (reference) "colours.less";
@import (reference) "../css3.less";

.profile-search {
  @line-height-large-computed: ceil(@font-size-large / @font-size-base) * @line-height-computed;

  form {
    margin: 0;
  }

  .form-control, .input-group-btn {
    font-size: @font-size-large;
    height: @line-height-large-computed;

    .btn {
      line-height: 1em;
      height: @line-height-large-computed;
      font-size: @font-size-large;
    }
  }

  div.spinner-container {
    position: absolute;
    right: 40px;
    height: 40px;
    width: 40px;
    top: 1px;
    z-index: 10;
  }
}

.profile-search-results .dropdown-menu {
  li > a {
    padding: 3px 8px;
    .clearfix();
  }

  h3 {
    margin-bottom: 0;
    margin-top: 0;
  }

  .photo {
    max-height: 50px;
  }

  .description {
    white-space: normal;
  }

  h3, .description {
    margin-right: 50px;
  }

  .active > a, .active > a:hover {
    #gradient > .vertical(#d0d0d0, darken(#d0d0d0, 5%));
  }

  .pull-right a {
    text-align: left;
  }
}

table.event-info {
  // Reset
  th, td {
    padding: 0;
    margin: 0;
    font-weight: normal;
    text-align: left;
    vertical-align: top;
    display: table-cell;
    white-space: normal;
  }

  width: 100%;

  th {
    text-align: right;
    color: @tabulaGrayLight;
    white-space: nowrap;

    &:after {
      content: '';
      margin-right: 3px;
    }
  }

  td {
    color: #0c0c0c;
    width: 99%;

    sup {
      font-size: 0.8em
    }

    padding-bottom: 0.5em;
  }

  tbody {
    border-bottom: 15px solid transparent;
  }

}

details.indent {
  padding-left: 20px;

  summary {
    margin-left: -20px;
  }
}

table.expanding-row-pairs {
  td.can-expand {
    i.fa-caret-down, i.fa-caret-right {
      font-size: 1.5em;
      vertical-align: middle;
      cursor: pointer;
    }
  }

  .deleted {
    text-decoration: line-through;
  }

  .disabled {
    text-decoration: none;
    color: @tabulaGrayLight;
    cursor: not-allowed;
  }
}

section.identity, section.member-notes, section.circumstances {
  margin-bottom: 16px;
}

.mod-reg-summary {
  font-size: 70%;
  padding-left: 10px;

  .mod-reg-summary-item {
    padding-left: 5px;
  }
}

.calendar table[role=presentation] {
  tbody tr {
    td, th {
      display: table-cell !important;
    }

    th.fc-widget-header {
      width: 50px !important;
    }
  }
}

.datetimepicker .datetimepicker-hours th.switch,
.datetimepicker .datetimepicker-minutes th.switch {
  visibility: hidden;
}

.tabula-page .calendar-smallscreen {
  table.table {
    margin-bottom: 11px;

    &.today {
      thead h6 {
        color: @brand-primary;
      }
    }

    thead tr th {
      border-bottom-width: 1px;
      border-top: 1px solid @table-border-color;
      background-color: @table-bg-hover;

      h6 {
        margin: 0;
      }
    }

    tbody tr td {
      border: 0;
      line-height: 1.3em;
      padding-bottom: 0;

      .fa-user {
        color: #aaa;
      }

      &.time, &.marker {
        width: 1px;
        white-space: nowrap;
      }

      &.time {
        color: @very-subtle-text-color;
      }
    }
  }
}

.small-group-modules-list .item-info {
  h3.name {
    overflow-wrap: break-word;
  }
}

@import "allocate-associations.less";
@import "profile-attendance.less";
@import "mitcircs.less";
