@import "@universityofwarwick/id7/less/id7-no-fa";
@import "@universityofwarwick/id7/less/font-awesome-pro";
@import "@fortawesome/fontawesome-pro/less/v4-shims";

@id7-ignore-id6-legacy: true;
@id7-image-root-dir: '../../lib/id7/images';
@icon-font-path: '../../lib/fontawesome-pro/webfonts';
@fa-font-path: '../../lib/fontawesome-pro/webfonts';

@import "id7-fixes.css";
@import "id7-theme.less";
@import "main.less";
@import (inline) "../../libs/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css";
@import (inline) "../../libs/popup/popup.css";
@import (inline) "fixed-header-table/css/defaultTheme.css";
@import (inline) "jquery-ui/themes/base/core.css";
@import (inline) "../../libs/bootstrap3-editable/css/bootstrap-editable.css";
@import (inline) "../fullcalendar.css";
@import (inline) "../fullcalendar-custom.css";