<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.1.xsd
		http://go.warwick.ac.uk/elab-schemas/filterstack http://go.warwick.ac.uk/elab-schemas/filters.xsd">

	<!-- fire up annotation driven everything -->
	<context:spring-configured />
	<context:annotation-config />
	<context:component-scan base-package="uk.ac.warwick.courses.web.controllers" />
	<context:component-scan base-package="uk.ac.warwick.courses.services" />
	<context:component-scan base-package="uk.ac.warwick.courses.data" />
	
	<bean class="org.springframework.context.support.ResourceBundleMessageSource"
		p:basename="messages" />
	
	<!-- make properties available as ${..} tokens -->
	<context:property-placeholder location="
		classpath:/courses.properties,
		classpath:/courses-private.properties" />
	
	<!-- 
		Map certain exceptions straight to views.
		If we need to do extra stuff here or add stuff to the model, implement a custom HandlerExceptionResolver.	
	-->
	<bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="exceptionMappings">
		  <map>
		    <entry key="uk.ac.warwick.courses.PermissionDeniedException" value="errors/permissionDenied" />
		    <entry key="uk.ac.warwick.courses.ItemNotFoundException" value="errors/404" />
		    <entry key="java.lang.Exception" value="errors/500" />
		  </map>
		</property>
	</bean>
	
	<!-- validation -->
	<bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean"  />
	
	<bean id="typeConverter"
      class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
      <description>
      	Converts arguments in various places.
      	Useful to convert @PathVariable arguments from String to the object it represents.
      </description>
	    <property name="converters">
	        <list>
	            <bean class="uk.ac.warwick.courses.system.ScalaCollectionConverter" />
	            <bean class="uk.ac.warwick.courses.data.convert.DepartmentCodeConverter"/>
	            <bean class="uk.ac.warwick.courses.data.convert.ModuleCodeConverter"/>
	        </list>
	    </property>
	</bean>
	
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
			<bean class="uk.ac.warwick.courses.system.CurrentUserInterceptor" />
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
			<bean class="org.springframework.orm.hibernate3.support.OpenSessionInViewInterceptor" autowire="byName" />
		</mvc:interceptor>
	</mvc:interceptors>
	<mvc:annotation-driven validator="validator" conversion-service="typeConverter">
		<mvc:argument-resolvers>
			<bean class="uk.ac.warwick.courses.system.CurrentUserMethodArgumentResolver" />
		</mvc:argument-resolvers>
	</mvc:annotation-driven>
	
	<tx:annotation-driven />
	<aop:aspectj-autoproxy proxy-target-class="true" />
	
	<!-- get app server to handle static content -->
	<mvc:default-servlet-handler />
	
	<bean id="characterEncodingFilter" class="org.springframework.web.filter.CharacterEncodingFilter"
		p:encoding="UTF-8" p:forceEncoding="true" />
	
	<filter-stack id="allFilters" xmlns="http://go.warwick.ac.uk/elab-schemas/filterstack">
		<mapping>
			<filter ref="characterEncodingFilter" />
			<filter ref="ssoClientFilter" />
			<url-pattern>/*</url-pattern>
			<excluded-url-pattern>/static/*</excluded-url-pattern>
			<excluded-url-pattern>/favicon.ico</excluded-url-pattern>
			<excluded-url-pattern>*.ftl</excluded-url-pattern>
		</mapping>
		<mapping>
			<filter ref="forceLoginFilter" />
			<filter ref="sysadminGroupFilter" />
			<url-pattern>/sysadmin/*</url-pattern>
		</mapping>
	</filter-stack>
	
	<bean id="ssoClientFilter" class="uk.ac.warwick.sso.client.SSOClientFilter"
		p:detectAnonymousOnCampusUsers="true"
		p:userLookup-ref="userLookup"
		p:configLocation="/courses-sso-config.xml" />
		
	<bean id="forceLoginFilter" class="uk.ac.warwick.sso.client.ForceLoginFilter" />
	
	<bean id="sysadminGroupFilter" class="uk.ac.warwick.sso.client.UserInWebGroupFilter"
		p:group="in-courses-sysadmins"
		p:groupService-ref="groupService" />
	
	<bean id="userLookup" class="uk.ac.warwick.userlookup.UserLookup"
		p:groupServiceLocation="https://webgroups.warwick.ac.uk/" />
		
	<util:property-path id="groupService" path="userLookup.groupService"/>

	<bean class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer"
		p:templateLoaderPath="/WEB-INF/freemarker/"
		p:configuration-ref="freemarkerConfiguration" />
		
	<bean id="freemarkerConfiguration" class="uk.ac.warwick.courses.web.views.ScalaFreemarkerConfiguration">
		<property name="sharedVariables">
			<map>
				<entry key="url"><bean class="uk.ac.warwick.courses.web.views.UrlMethodModel" /></entry>
			</map>
		</property>
	</bean>
	<bean class="org.springframework.web.context.support.ServletContextAttributeExporter">
		<property name="attributes"><map>
			<entry key="freemarkerConfiguration" value-ref="freemarkerConfiguration" />
		</map></property>
	</bean>
			
	<bean id="redirectViewResolver" class="uk.ac.warwick.courses.web.views.RedirectViewResolver" 
		p:toplevelUrl="${toplevel.url}"
		p:order="1" />
	<bean id="viewResolver" class="org.springframework.web.servlet.view.tiles2.TilesViewResolver"
		p:order="2" />
  	
  	<bean id="hibernateLifecycle" class="uk.ac.warwick.courses.data.HibernateLifecycle" />
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean"
		p:dataSource-ref="dataSource"
		p:packagesToScan="uk.ac.warwick.courses.data.model"
		p:hibernateProperties-ref="hibernateProperties">
		<property name="eventListeners"><map>
			<entry key="pre-load" value-ref="hibernateLifecycle" />
			<entry key="post-load" value-ref="hibernateLifecycle"/>
		</map></property>
	</bean>
	
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager"
		p:sessionFactory-ref="sessionFactory" />
		
	<bean id="parser" class="org.springframework.expression.spel.standard.SpelExpressionParser"/>
	
	<beans profile="scheduling">
		<!-- @Scheduled -->
		<task:annotation-driven/>
	</beans>
	
	<beans profile="dev,production">
	
		<bean class="uk.ac.warwick.courses.system.DatabaseEncodingChecker" />
		
		<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		   <property name="jndiName" value="java:/CoursesDS"/>
	    </bean>
	    
		<util:properties id="jdbcProperties">
			<prop key="defaultNChar">true</prop>
		</util:properties>
		<util:properties id="hibernateProperties">
			<prop key="hibernate.jdbc.batch_size">20</prop>
			<prop key="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</prop>
			<prop key="defaultNChar">true</prop>
		</util:properties>
		<bean id="tilesConfigurer" class="org.springframework.web.servlet.view.tiles2.TilesConfigurer"
			p:definitions="/WEB-INF/defs/views.xml"
			p:definitionsFactoryClass="uk.ac.warwick.courses.ImpliedDefinitionsFactory" />
	</beans>
	
	<beans profile="test">
		<jdbc:embedded-database id="dataSource" />

		<bean class="uk.ac.warwick.courses.system.DatabaseScriptRunner" 
			c:dataSource-ref="dataSource"
			p:scripts="schema.sql,data.sql" />
		
		<util:properties id="hibernateProperties">
			<prop key="hibernate.jdbc.batch_size">20</prop>
			<prop key="hibernate.dialect">org.hibernate.dialect.HSQLDialect</prop>
			<prop key="hibernate.hbm2ddl.auto">create</prop>
			<prop key="hibernate.show_sql">true</prop>
		</util:properties>
	</beans>


</beans>
