@import "../../libs/font-awesome/less/variables.less";
@import "colours.less";


a.profile-link {
	text-decoration: none;
}


// extension management
.detail-row {
	padding: 0;
	margin: 0;

	td {
		padding: 0;
		margin: 0;
	}

	.buttons {
		margin: 10px 0;
	}

	// styles to make a details summary look like a form label
	summary {
		font-weight: 700;
		color: #555;
		margin-bottom: 5px;
	}
}

.clickable {
	cursor: pointer;

	&.collapsed .toggle-icon:before {
		font-family: 'FontAwesome';
		content: @caret-right;
	}

	.toggle-icon:before {
		font-family: 'FontAwesome';
		content: @caret-down;
	}

	&.collapsed .toggle-icon-large:before {
		font-family: 'FontAwesome';
		content: @chevron-right;
	}

	.toggle-icon-large:before {
		font-family: 'FontAwesome';
		content: @chevron-down;
	}
}


table.expanding-row-pairs {
	td.can-expand {
		i.fa-caret-down, i.fa-caret-right {
			font-size: 1.5em;
			vertical-align: middle;
			cursor: pointer;
		}
	}
	.deleted {
		text-decoration: line-through;
	}
	.disabled {
		text-decoration: none;
		color: @tabulaGrayLight;
		cursor: not-allowed;
	}
}

.audit-info {
	margin-top: 20px;
}
