th.rotated .rotate, td.rotated .rotate {
	float: left;
	position: absolute;
	-webkit-transform-origin: 0% 100%;
	-moz-transform-origin: 0% 100%;
	-ms-transform-origin: 0% 100%;
	-o-transform-origin: 0% 100%;
	transform-origin: 0% 100%;
	-webkit-transform: rotateZ(90deg);
	-moz-transform: rotateZ(90deg);
	-ms-transform: rotateZ(90deg);
	-o-transform: rotateZ(90deg);
	transform: rotateZ(90deg);
	white-space: nowrap;
}

th.event, td.tutors, th.point, th.module {
	font-size: 80%;
	position: relative;
}

table.tablesorter > thead > tr th.header {
	background-position: bottom 10px right 0;
	&.headerSortDown {
		background-position: bottom 15px right 0;
	}
	&.module {
		background-position: bottom 10px center;
	}
}