**/*.js
!/src/main/assets/static/js/**/*.js

# exclude basically all the JS individually

/src/main/assets/static/js/id7/attendance.js
/src/main/assets/static/js/id7/attendance-recording.js
/src/main/assets/static/js/id7/attendance-render.js
/src/main/assets/static/js/id7/cm2.js
/src/main/assets/static/js/id7/exams.js
/src/main/assets/static/js/id7/flexipicker.js
/src/main/assets/static/js/id7/groups.js
/src/main/assets/static/js/id7/home.js
/src/main/assets/static/js/id7/jquery-draganddrop.js
/src/main/assets/static/js/id7/jquery-expandingTable.js
/src/main/assets/static/js/id7/jquery-fixheaderfooter.js
/src/main/assets/static/js/id7/jquery-tableform.js
/src/main/assets/static/js/id7/profiles.js
/src/main/assets/static/js/id7/reports.js
/src/main/assets/static/js/id7/textList.js

/src/main/assets/static/js/activity-streams.js
/src/main/assets/static/js/ajax-popup.js
/src/main/assets/static/js/allocate-associations.js
/src/main/assets/static/js/assignment-batch-select.js
/src/main/assets/static/js/attendance-recording.js
/src/main/assets/static/js/attendance-render.js
/src/main/assets/static/js/browser-info.js
/src/main/assets/static/js/cm2-admin.js
/src/main/assets/static/js/combo-typeahead.js
/src/main/assets/static/js/coursework-admin.js
/src/main/assets/static/js/coursework-submission.js
/src/main/assets/static/js/exams-admin.js
/src/main/assets/static/js/filters.js
/src/main/assets/static/js/flexipicker.js
/src/main/assets/static/js/fullcalendar.js
/src/main/assets/static/js/groups-render.js
/src/main/assets/static/js/id6scripts.js
/src/main/assets/static/js/jquery.are-you-sure.js
/src/main/assets/static/js/jquery.form.js
/src/main/assets/static/js/jquery-biglist.js
/src/main/assets/static/js/jquery-collapsible.js
/src/main/assets/static/js/jquery-confirmmodal.js
/src/main/assets/static/js/jquery-copyable.js
/src/main/assets/static/js/jquery-details.js
/src/main/assets/static/js/jquery-draganddrop.js
/src/main/assets/static/js/jquery-expandingTable.js
/src/main/assets/static/js/jquery-filteredlist.js
/src/main/assets/static/js/jquery-fixheaderfooter.js
/src/main/assets/static/js/jquery-radiocontrolled.js
/src/main/assets/static/js/jquery-scrolltofixed.js
/src/main/assets/static/js/jquery-tableform.js
/src/main/assets/static/js/map-popups.js
/src/main/assets/static/js/modernizr.js
/src/main/assets/static/js/moment.js
/src/main/assets/static/js/moment-timezone-london.js
/src/main/assets/static/js/profiles-render.js
/src/main/assets/static/js/render.js
/src/main/assets/static/js/scripts.js
/src/main/assets/static/js/select-deselect-checkboxes.js
/src/main/assets/static/js/sortable-table.js
/src/main/assets/static/js/textList.js
/src/main/assets/static/js/userpicker.js
